p{
    text-align: left;
    margin: 20px; 
    margin-bottom: 15px;
    text-align: left;
}
a{
    text-decoration: none;
}

h1{
    background-color: bisque;
    margin: 20px;
}

img{
    width: 30%;
    margin: 20px;
}

html{
    color: cornflowerblue;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}