a{
    text-decoration: none;
}

h1{
    background-color: bisque;
    margin: 20px;
}

img{
    width: 30%;
    margin: 20px;
}

html{
    color: cornflowerblue;
    background-color: beige;
}

.rodape ul li{
    display: flex;
    justify-content: space-around;
}
