a{
    text-decoration: none;
}
img{
    width: 30%;
    margin: 40px;
}

h1{
    background-color: bisque;
    margin: 20px;
}

p{
    text-align: left;
    padding: 20px;
}

html{
    color: cornflowerblue;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rodape ul li{
    display: flex;
    justify-content: space-around;
}

.imagens{
    display: flex;
    justify-content: space-around;
}
